{% extends "base.html" %}
{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Reset Password{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto my-5">
            <div class="card bg-light">
                <div class="card-body">
                    {% if validlink %}

                    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

                    <form method="post">{% csrf_token %}
                        <p>
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1">New password:</label>
                            {{ form.new_password1 }}
                        </p>
                        <p>
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirm password:</label>
                            {{ form.new_password2 }}
                        </p>
                        <input type="submit" value="Change my password">
                    </form>

                    {% else %}

                    <p>The password reset link was invalid, possibly because it has already been used. Please request a
                        new password reset.
                    </p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}