{% extends "base.html" %}
{% block page_title %}Password Reset Request Sent{% endblock %}
{% block page_heading %}Reset Password Requested{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto my-5">
            <div class="card bg-light">
                <div class="card-body">
                    <h3>Password reset request sent!</h3>

                    <p>If the email address is correct, you will receive a reset email to your inbox.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}