{% extends "base.html" %}

{% block page_title %}Password Reset done!{% endblock %}

{% block page_heading %}Password Has Been Reset!{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto my-5">
            <div class="card bg-light">
                <div class="card-body">
                    <h4>Smashing Your password has been reset, you can go ahead and <a href="{% url 'login' %}"> Log
                            In</a> with you new credentials</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}