{% extends 'base.html' %}

{% block page_title %}Products - Primal Silver{% endblock %}

{% block page_heading %}Products - Primal Silver{% endblock %}

{% block content %}
<section class="row mb-4">
  <div class="col-12">
    <img id="products-banner-image" src="{{ MEDIA_URL }}" alt="" class="img-fluid">
  </div>
</section>

<section class="row">
  {% for product in products %}
  <div class="col-6 col-md-4 col-lg-3">
    <a href="{% url 'product' product.id %}" class="text-decoration-none">
      <div class="card border-0 text-center">
        <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top rounded-circle" alt="{{ product.id }}">

        <div class="card-body">
          <h5 class="card-title text-primal">{{ product.name }}</h5>

          {% if product.stock_count > 0 %}
          <p class="text-success"><i class="fa fa-check"></i> {{  product.stock_count }} In stock</p>
          {% else %}
          <p class="text-danger"><i class="fa fa-times"></i> Not in stock</p>
          {% endif %}

          <div class="product-price w-100">£{{product.price}}</div>
        </div>
      </div>
    </a>
  </div>
  {% empty %}

  <div class="col-12 text-center p-5">

    <h2>Whoops... Looks like we dont have anythig listed yet!</h2>
    <h4>Check back soon!</h4>
  </div>

  {% endfor %}

  <nav class="col-12" aria-label="Page navigation example">
    {% if products.has_other_pages %}

    <ul class="pagination">
      {% if products.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Prev</a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">Prev</span></li>
      {% endif %}

      {% for i in products.paginator.page_range %}
      {% if products.number == i %}
      <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}

      {% if products.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>

</section>

{% endblock %}