@import url("https://fonts.googleapis.com/css?family=Rufina&display=swap");

body {
  font-family: "Rufina", serif;
}

.text-primal {
  color: #87d5b4 !important;
}

.header-top {
  background-color: #212121;
}

.header-top a {
  color: #f4f4f4;
}

.header-middle {
  background-color: #2f2f2f;
}

.header-bottom {
  background-color: #463728;
}

.header-bottom .nav-item {
  font-size: 1.3rem;
}

.product-price {
  width: 150px;
  padding: 3px;
  color: white;
  text-align: center;
  background: #87d5b4;
  font-size: 1.3rem;
  margin: 10px 3px;
}

footer {
  margin-top: 2rem;
  background: #282828;
  color: white;
}

.footer-top {
  background: #212121;
  padding-top: 1rem;
}

.footer-middle {
  padding: 2rem 1rem;
}

.footer-middle li {
  padding: 0.2rem;
  list-style-type: none;
  padding-left: 0;
}

.footer-middle li a {
  color: #f4f4f4;
}
