@import url('https://fonts.googleapis.com/css?family=Rufina:400|Sintony:400');

html {
  font-size: 100%;
}

/*16px*/

body {
  background-color: white;
  font-family: 'Sintony', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Rufina', serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

.text-primal {
  color: #87d5b4 !important;
}

.header-top {
  background-color: #212121;
}

.header-top a {
  color: #f4f4f4;
}

.header-middle {
  background-color: #2f2f2f;
}

.header-bottom {
  background-color: #463728;
}

.product-price {
  width: 150px;
  padding: 3px;
  color: white;
  text-align: center;
  background: #87d5b4;
  margin: 10px 3px;
}

footer {
  margin-top: 2rem;
  background: #282828;
  color: white;
}

.footer-top {
  background: #212121;
  padding-top: 1rem;
}

.footer-middle {
  padding: 2rem 1rem;
}

.footer-middle li {
  padding: 0.2rem;
  list-style-type: none;
  padding-left: 0;
}

.footer-middle li a {
  color: #f4f4f4;
}