{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Wishlist{% endblock %}

{% block page_heading %}{{ user }}'s Wishlist{% endblock %}

{% block content %}

<div class="row my-3">
    <div class="col-12">
        <h3>Hello, {{ profile.username }}</h3>

        <p>Wishlist</p>
    </div>
</div>

<div class="row">
    {% for item in wishlist %}
    <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
            <img class="card-img-top" src="{{ MEDIA_URL }}{{ item.product.image }}">
            <div class="card-body">
                <h3>{{ item.product.name }}</h3>
                <p>£{{ item.product.price }}</p>

                <form method="post" action="">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control"
                            placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="card-footer text-center">
                <a class="text-danger" type="submit" href="{% url 'remove_from_wishlist' id=item.id %}">Remove</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock%}


<div class="col-12 col-sm-6 col-lg-3">
    <div class="card">
        <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top" alt="{{ product.id }}">

        <div class="card-body">

            <h5 class="card-title">{{ product.name }}</h5>
            <p>{{ product.price }}</p>

            <p class="card-text">{{ product.description|truncatechars:25 }}</p>

            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
        </div>

        <div class="card-footer text-center">
            <a class="text-success" type="submit" href="{% url 'add_to_wishlist' product.id %}">Add to
                wishlist</a>
        </div>
    </div>
</div>