{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-12">
        <h3>Hello, {{ profile.username }}</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">
                Your details
            </h5>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>{{ user.first_name }} {{ user.last_name }}</li>
                    <li>{{ user.email }}</li>
                    <li>{{ user.profile.phone_number }}</li>
                    <li>Joined on {{ user.date_joined }}</li>
                    <a class="" href="{% url 'update_profile' %}">Edit Details</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">
                Your Address
            </h5>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>{{ user.profile.address_line1 }}</li>
                    <li>{{ user.profile.address_line2 }}</li>
                    <li>{{ user.profile.town_city }}</li>
                    <li>{{ user.profile.county }}</li>
                    <li>{{ user.profile.postcode }}</li>
                    <li>{{ user.profile.country }}</li>
                    <a class="" href="{% url 'update_profile' %}">Edit Address</a>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock%}