{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Registration Page{% endblock %}

{% block page_heading %}Registration Login{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-4 mx-auto my-5">
            <div class="card bg-light">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ registration_form | as_bootstrap }}
                        <button class="btn btn-primary rounded-0" type="submit">Register</button>
                    </form>

                    <p>If you already have an account, you can <a href="{% url 'login' %}"><strong>sign in
                                here</strong></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}