{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-12 col-sm-10 mx-auto my-0 my-sm-5 p-3 bg-dark text-primal">
    <h3 class="text-center m-0">Hand made silver jewellery inspired by nature. Perfect for the wild at heart</h3>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-6">
    <h3>
      What do I Do?
    </h3>
    <p>
      I create individual handmade pieces of jewellery, drawing influence from the natural world around me. Working
      primarily
      in Hemel Hempstead, I started to use my love of nature and the outdoors to design and create stunning pieces of
      silver
      jewellery. It excites me to know there is such love for the work I create, and I look forward to making a bespoke
      piece
      for you!
    </p>
  </div>

  <div class="col-12 col-sm-6">
    <h3>
      How &amp; Why?
    </h3>
    <p>
      I use number of methods &amp; techniques to craft my work, including wax carving and casting.
      This process involves first creating a wax version of the item. This is much more forgiving, as if a mistake is
      made, or
      alteration is required, I can correct it much more simply.
      Once the wax design is made, it I then covered in plaster and left to set. once it is set, the wax is melted away
      and
      i'm left with a mold I can cast the silver into.
      giving a wonderfully made piece of silverware.
    </p>

    <p>
      I love the freedom of creating pieces which reflect my own interests &amp; passions, the appreciation and
      gratitude I
      get
      from everyone I make something for! It makes it all worthwhile.
    </p>

  </div>
</div>
{% endblock %}