{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Primal Silver Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% comment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="/static/css/style.css">
    {% block head_js %}
    {% endblock head_js %}
</head>

<body>
    <header>
        <section class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Location</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class=" header-middle">
            <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center py-5">
                <div class="container">
                    <a href="/" class="navbar-brand d-flex w-50 mr-auto">
                        <h2 class="text-light">Primal Silver</h2>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse w-100" id="mainNav">
                        <div class="navbar-nav w-100 justify-content-center">
                            <form class="form-inline d-none d-sm-block w-100" action="{% url 'search' %}" method="GET">
                                <input class="form-control mr-sm-2 w-100" type="search" placeholder="Search"
                                    aria-label="Search" name="q">
                            </form>
                        </div>

                        <div class="nav navbar-nav ml-auto w-100 justify-content-end">
                            {% if user.is_authenticated %}
                            <a class="nav-item nav-link text-light" href="{% url 'profile' %}">Profile<span
                                    class="sr-only">(current)</span></a>

                            <a class="nav-item nav-link text-light" href="{% url 'logout' %}">Log Out</a>

                            <a class="nav-item nav-link text-light" href="{% url 'view_cart' %}"><i
                                    class="fa fa-shopping-cart"></i>
                                Cart
                                {% if product_count > 0 %}
                                <label class="badge badge-warning">{{ product_count }}</label>
                                {% endif %}
                            </a>

                            <a class="nav-item nav-link text-light" href="{% url 'user_wishlist' %}">Wishlist</a>

                            {%  else %}

                            <a class="nav-item nav-link text-light" href="{% url 'register' %}">Register</a>

                            <a class="nav-item nav-link text-light" href="{% url 'login' %}">Log In</a>
                            {% endif %}

                            <form class="form-inline d-sm-none" action="{% url 'search' %}" method="GET">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search" name="q">
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </section>

        <section class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav justify-content-center py-2">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Rings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Braclets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Necklaces</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </header>

    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
    </div>

    {% endif %}
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <footer class="footer">
        <div class="container-fluid footer-top">
            <div class="row">
                <div class="col-12 text-center">
                    <h4 class="text-primal">Looking for something a bit more bespoke?</h4>
                    <p>Call 01443 123456 to arrange a bespoke piece to be commissioned</p>
                </div>
            </div>
        </div>

        <div class="container footer-middle">
            <div class="row">
                <div class="col">
                    <p class="text-primal">Primal Silver</p>
                    <ul class="list-group">
                        <li><a href="http://">Link</a></li>
                        <li><a href="http://">Link</a></li>
                        <li><a href="http://">Link</a></li>
                    </ul>
                </div>

                <div class="col">
                    <p class="text-primal">Delivery and returns</p>
                    <ul class="list-group">
                        <li><a href="http://">Link</a></li>
                        <li><a href="http://">Link</a></li>
                        <li><a href="http://">Link</a></li>
                    </ul>
                </div>

                <div class="col">
                    <p class="text-primal">Suport</p>
                    <ul class="list-group">
                        <li><a href="http://">Link</a></li>
                        <li><a href="http://">Link</a></li>
                        <li><a href="http://">Link</a></li>
                    </ul>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col text-center">
                    <i class="fab fa-facebook fa-5x mx-5 text-primal"></i>
                    <i class="fab fa-instagram fa-5x mx-5 text-primal"></i>
                    <i class="fab fa-twitter-square fa-5x mx-5 text-primal"></i>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>