{% extends 'base.html' %}

{% block page_title %}Contact - Primal Silver - Jewellery inspired by nature{% endblock %}

{% block page_heading %}Contact - Primal Silver - Jewellery inspired by nature{% endblock %}

{% block content %}
<section class="row">
  <div class="col-12 col-sm-10 mx-auto my-0 my-sm-5 p-3 bg-dark text-primal">
    <h3 class="text-center m-0">We'd love to hear from you.</h3>
  </div>
</section>

<section class="row my-3">
  <div class="col-12">
    <p>We take great pride in our work, and want to ensure that everything is as it should be.</p>

    <p>
      If you have a pre-purchase question, or if there something you are not quite sure about with you recent item, get
      in contact and we'll answer everything.
    </p>

    <p>If you are insterested in commissioning me to create a unique piece of jewellery for yourself, or a
      love one, contact me via one the means on this page and we can arrange details and make the
      perfrect piece of wearable nature.
      <br>Of course, i can create other work if desired.
    </p>

    <p>I will do my best to repsone ASAP, but please dont give out hope if it takes more
      than one day!
    </p>

    <hr>

  </div>
</section>

<section class=" row text-center info">
  <div class="col-12 col-sm-6 col-md-4 my-2">
    <span class="sr-only">Address</span>

    <h3>Lets Message</h3>

    <p>
      <a href="mailto:primal@silver.com">primal@silver.com</a>
    </p>

    <p>
      <a href="https://www.facebook.com/Primal.silver/" target="_blank"><i
          class="fab fa-facebook fa-3x text-primal"></i></a>
      <a href="https://www.instagram.com/primal.silver/" target="_blank"><i
          class="fab fa-instagram fa-3x text-primal"></i></a>
    </p>
  </div>

  <div class="col-12 col-sm-6 col-md-4 my-2">
    <span class="sr-only">Phone</span>

    <h3>Lets Talk</h3>

    <a href="tel:07123456789">07123456789</a>
  </div>

  <div class="col-12 col-sm-6 col-md-4 my-2">
    <span class="sr-only">Address</span>

    <h3>Adventure?</h3>

    <address>
      123 Silver road<br>
      Jewellery Town<br>
      Nature<br>
      AB1 2CD
    </address>
  </div>

  <div class="col-12 col-sm-6 col-md-8 mx-md-auto my-2">
    <h3>Opening Times</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Monday
        <span>9:00 - 17:30</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Tuesday
        <span>9:00 - 17:30</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Wednesday
        <span>9:00 - 17:30</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Thursday
        <span>9:00 - 17:30</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Friday
        <span>9:00 - 17:00</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Saturday
        <span>10:30 - 15:30</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Sunday
        <span>Closed</span>
      </li>
    </ul>
  </div>
</section>

<section class="row">
  <div class="col-12 p-2 bg-dark">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4154.507197908562!2d-0.4780420161715926!3d51.74611628948513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876415fe828b2d7%3A0xd4090fb233afe15d!2sHemel%20Hempstead%20HP1%201JZ!5e0!3m2!1sen!2suk!4v1587222746752!5m2!1sen!2suk"
      width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div>
</section>
{% endblock %}